.bmi-calc-container{
    width: 100vw;
    height: 100vh;

    background-color: #1e1e1e;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bmi-calc-layout{
    width: 50%;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 3fr 3fr 1fr;
    grid-template-areas: 
    "male female"
    "height height"
    "weight age"
    "calc-btn calc-btn";
    
    gap: 2em;

    padding: 1em;
}

.cards{
    color: #fefefe;
    background-color: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bmi-male{
    grid-area: male;
}

.bmi-female{
    grid-area: female;
}

.bmi-height{
    grid-area: height;
}

input{
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bmi-height .slider{
    width: 80%;
}

.bmi-weight{
    grid-area: weight;
}

.bmi-age{
    grid-area: age;
}

.bmi-calc-btn{
    grid-area: calc-btn;
    border-radius: 15px;
}

.bmi-male mat-icon,
.bmi-female mat-icon{
    width: 4.5rem;
    height: 4.5rem;
    font-size: 4.5rem;
}

.cards mat-form-field{
    width: 6rem;
    text-align: center;
}

.cards mat-form-field input{
    font-weight: 400;
    font-size: 4em;
}

.plus-minus-btn-container{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.plus-minus-btn-container mat-icon{
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;

    user-select: none;
}

/* .card-value{
    font-weight: 400;
    font-size: 4em;
} */


@media only screen and (max-width: 770px){
    .bmi-calc-layout{
        width: 90%;
    }

    .plus-minus-btn-container{
        justify-content: space-between;   
    }

}